:root{
    --primary-color: #eee;
    --dp-fundo: rgba(64, 223, 90, 0.747);
    --color-hover: rgba(40, 189, 77, 0.829);
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

div#logo img{
    width: 70px;
    padding: 10px 0 5px 15px;
}

.cabecalho{
    background-color: rgba(75, 255, 4, 0.205);
    display: flex;
    justify-content: space-between;
}

div.cabecalho div#portal{
    padding: 10px 20px 0 0;
}

/* Body */

div#inf{
    padding: 3px 0 0 30px;
}

h3{
    font-size: 25px;
}

div#container{
    background-color: #79ff2b5e;
    border: 2px solid #56c01927;
    margin-top: 70px;
    border-radius: 8px;
    width: 350px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 5px rgba(151, 151, 151, 0.438);
}

.dp ul{
    list-style-type: none;
    padding: 0;
    margin-right: 70px;
}

.dp ul li{
    display: inline;
    position: relative;
}

.dp ul li a{
    display: block;
    text-decoration: none;
    color: var(--primary-color);
    padding: 10px;
    background-color: var(--dp-fundo);
    transition: background .3s;
}

.curso{
    border-radius: 8px;
    margin: 10px 0 0 55px;
}

.dp ul li a:hover{
    background-color: var(--color-hover);
}

/* sub menu */

.dp ul ul{
    display: none;
    position: absolute;
    width: 100px;
}

.dp ul ul#first{
    z-index: 3;
}

.dp ul ul#second{
    z-index: 2;
}

.dp ul ul#third{
    z-index: 1;
}

.dp ul li:hover ul{
    display: block;
    margin-left: 60px;
}

.dp ul ul li a{
    display: block;
}